openapi: 3.0.1
info:
  title: Exec io.livecode.ch
  description: Interact with repositories available io.livecode.ch. If you do not know the respository (for example webyrd/webmk), ask the user first before making queries. Do not guess the repository.
  version: 'v1'
servers:
  - url: https://io-chatgpt.livecode.ch
paths:
  /run/{user}/{repo}:
    post:
      operationId: run
      summary: Evaluate code on io.livecode.ch.
      parameters:
      - in: path
        name: user
        schema:
            type: string
        required: true
        description: The name of the user of the repository on Github.
      - in: path
        name: repo
        schema:
            type: string
        required: true
        description: The name of the repository on Github.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/runRequest'

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runResponse'

components:
  schemas:
    runResponse:
      type: object
      properties:
        result:
          type: string
          description: The result of evaluating the query or an error message if evaluation failed.
    runRequest:
      type: object
      properties:
        main:
          type: string
          description: The code to be evaluated.
        pre:
          type: string
          description: Preambule to the code. For example, helper functions.
        post:
          type: string
          description: Postambule to the code. For example, run instructions.
