[Unit]
Description=hypercorn instance to serve io-chatgpt
After=network.target

[Service]
User=namin
Group=www-data
WorkingDirectory=/home/namin/io-chatgpt.livecode.ch
Environment="PATH=/home/namin/io-chatgpt.livecode.ch/io-chatgpt-env/bin"
ExecStart=/home/namin/io-chatgpt.livecode.ch/io-chatgpt-env/bin/hypercorn -b unix:io-chatgpt.sock -w 3 -g 33 -m 775 main:app

[Install]
WantedBy=multi-user.target
